appdirs==1.4.3
asgiref==3.2.3
bcrypt==3.1.7
cffi==1.14.0
distlib==0.3.0
Django==3.0.3
django-db==0.0.7
django-widget-tweaks==1.4.5
dnspython==1.16.0
filelock==3.0.12
mysql==0.0.2
mysql-client==0.0.1
mysql-connector-python==8.0.19
mysqlclient==1.4.6
protobuf==3.6.1
py-bcrypt==0.4
pycparser==2.19
PyMySQL==0.9.3
PyMysqlDB==0.0.2
pytz==2019.3
six==1.14.0
sqlparse==0.3.0
virtualenv==20.0.7
vue==0.0.1
